@charset "utf-8";
/* CSS Document */

#mother
{
	height: 600px;
	background-repeat: no-repeat;
	width: 800px;
	background-position: center center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-image:url(register.JPG);

	
	
}
