body {
    background-color: #FFFFFF;
   	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
}
.clearFix {
	clear: both;
}



/*
 * Header section
 */
#contentHeader {
	background: url("top_bg.png") repeat-x;
	padding: 0;
	margin: 0;
	height: 110px;
	width: 100%;
	border-bottom: 1px #AFAFAF solid;
}
#nslogo {
	padding: 0;
	float: left;
	background:url("logo.png") no-repeat;
	height:100px;
	width: 90px;
	margin-top: 10px;
}
#appTitle {
	float: left;
	padding: 0;
	margin-top: 35px;
	font-size: 18px;
	color: #5F0C0F;
}
#greeting {
	float: right;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: 900;
	margin-right: 10px;
}



/*
 * Menu section
 */
 #navMenu {
 	padding: 0;
 	margin: 0;
 	width: 820px;
	margin-left: 200px;
 }
 #navMenu #location {
 	float: left;
 	padding: 8px;
 }
 #navMenu ul {
/*  	list-style: none; */
 	padding: 8px;
 	margin: 0;
 	float: right;
 }
 #navMenu ul li {
 	display: inline;
 	padding: 8px;
 	margin: 0;
 	border-left: #AFAFAF 1px solid;
 }
 #navMenu li:HOVER {
 	background-color: #E0E0E0;
 }
 #navMenu a {
 	text-decoration: none;
 	color: #5F0C0F;
 }
 
 
 
/*
 * Body section
 */
#contentBody {
	width: 820px;
	border: #AFAFAF 1px solid;
	margin-left: 200px;
}

#contentBody #contentTitle {
	font-size: 18px;
	padding: 10px 50px;
	float: left;
	background: #a90329; /* old browsers */
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* ie */
	color: WHITE;
}

.login {
	width: 480px !important;
}

.content {
	width: 600px !important;
}

/*
 * Footer section
 */
 #contentFooter {
 	width: 805px;
	margin-left: 200px;
	padding: 8px;
	border-bottom: 1px #AFAFAF solid;
 }
 
 .main{
	 
	 margin-left:200px;}